//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
registry=https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
# @nnsdao:registry="https://registry.npmjs.org/"
